body
{
  background-color: darkgray;
}

h2
{
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 25pt;
  margin: 35px;
}

h1
{
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 30pt;
  margin: 35px;
}

fieldset
{
  font-family: Verdana
  font-size: 15pt;
  width: auto;
  padding: 5px;
  border-color: transparent;
  background-color: lightgray;
}

label
{
  padding: 0;
  font-weight: bold;
  text-align: center;
  display: block;
  width: auto;
  margin: 0 1.5%;
}

input
{
  text-align: center;
  margin:5px 35%;
  width: 26%;
  border: 1px solid #ccc;
  font-family: Impact
  font-size: 10pt;
  padding: 12px 20px;
  border-radius: 6px;
  background-color: #808080;
}

.submit
{
  font-family: Arial;
  font-size: 5pt;
  width: auto;
  margin:5px 25%;
  text-align: center;
}
  
.id
{
text-align: center;  
}
.p
  {
  text-align: center;
    height: 150px;
  width: 200px;
    display: block;
  margin-left: auto;
  margin-right: auto;

  }

.text
  {
  width: auto;
  margin:5px 25%;
  }
}
